h1{
    text-align: center;
    color: white;
}

.forma{
    margin-top: 6%;
    background-color: black;
    border-radius: 20px;
    padding: 25px;
}

.fondo{
    background-image: url("../Imagenes/fondo02.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.centrado{
    text-align: center;
    color: #fff;
}

.boton1{
    color: white;
    background-color: black;
    margin-top: 3%;
    width: 30%;
    font-size: 20px;

}

button{
    padding-left: 40%;
}

.colorrojo{
    background-color: #F05454;
    border-color: #F05454;
}

.colorazul{
  background-color: #121212;
  border-color: #121212;
  color: #e5e5e5;
}

.colorblanco{
  background-color: white;
  border-color: white;
  color: black;
}

.tamlogo{
    width: 50px;
    height: 50px;
}

.xd{
    position: absolute;
    padding-top: 0.7%;
    font-size: 15px;
    margin-top: 5px;
}

.url{
    text-decoration: none;
    color: white;
}

.logo2{
    width: 25%;
    height: 35%;
}

.b{
    font-size: 20px;
    padding-bottom: 5px;
}
.espacio{
    margin-bottom: 5px;
}

/*----------------formulario-----------------*/
.formulario {
    margin: 5%;
}

.contenido {
    margin-top: 1%;
    opacity: 0.85;
}

.cto {
    text-align: center;

}
.titulo{
    font-size: 16px;
    color: white;
}
.cuerpo{
    background-color: black;
    padding: 1%;
    border-radius: 2%;
    
}
.cambio{
    width: 15%;
}
.register{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 5px;
}
