h1{
    text-align: center;
}

.forma{
    margin-top: 23%;
    border: 5px solid black;
    background-color: #323bbe80;
}

.fondo{
    background-image: url(../Imagenes/Fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #82B5D2;
}

.centrado{
    text-align: center;
    color: #fff;
}